.auth-warp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

.h3 {
  font-size: 3em;
  color: var(--main-color);
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 1em;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

ul {
  list-style-type: disc;
  height: 100%;
}

ul > li {
  margin: 0.5em;
  font-size: 1em;
  text-align: left;
  color: var(--text-color);
}

li > ul {
    list-style-type: square;
}

a {
  color: var(--main-color);
}